body {
    font-family: Manrope;
}

.navbar, .sidebar, footer {
    background-color: #0A2647;
}

footer {
    height: 45px;
}

.footer-item {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar-brand {
    color: white;
    font-size: 24px;
}

.nav-link, .nav-link:link, .navbar-toggler {
    color: white;
    opacity: 75%;
    font-size: 16px;
}

.navbar-brand:hover, .nav-link:hover, .footer-item:hover{
    color: #2C97B5;
    opacity: 100%;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.slogan {
    font-size: 50px;
    font-weight: 1000;
}

.provider-div {
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.input-text {
    height: 26px;
    width: 650px;
    margin-right: 10px;
    font-size: 14px;
}

input[type = "radio"]:checked {
    background-color: #0A2647;
    border: 1px solid #0A2647;
}

input[type = "text"]:focus {
    box-shadow: none;
    border: 1px solid lightgray;
}

.btn-close:focus {
    box-shadow: none;
}

.dropdown-menu {
    width: 250px;
    max-height: 200px;
    overflow-y: auto;
}

.notebook-title {
    font-size: 32px;
    font-weight: bold;
    border-radius: 5px;
}

.notebook-content {
    width: 100%;
    height: 70vh;
    resize: none;
    text-align: justify;
    border-radius: 5px;
    border: none;
}

.notebook-title:focus, .notebook-content:focus{
    outline: none;
}

.title-button {
    border: none;
    background: none;
    font-size: 14px;
}

.content-button {
    border-radius: 5px;
    width: 100px;
    border: 1px solid lightgray;
    background-color: white;
    font-size: 14px;
}

.toolbar-icon {
    width: 50px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.resizable-div {
    min-width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#left-div {
    outline: none;
    flex-grow: 0;
    resize: horizontal;
    overflow: auto;
}

#right-div {
    flex-grow: 4;
    overflow: auto;
}

.ai-textarea, .ai-textarea:focus {
    resize: none; 
    height: 150px;
    overflow-y: auto;
    border: 1px solid lightgray;
    box-shadow: none;
}

.language-selector, .language-selector:focus {
    border: 1px solid lightgray;
    box-shadow: none;
}

.lds-dual-ring {
    display: inline-block;
    align-items: center;
    width: 30px;
    height: 30px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #205295 transparent #fff;
    animation: lds-dual-ring 1.4s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px){
    .resizable-div {
        min-width: 25px;
    }
}