{% extends "base.html"%}
{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Notepad-AI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Other Notebooks
                        </a>
                        <ul class = "dropdown-menu overflow-auto" aria-labelledby="navbarDropdown">
                            {% if not notebooks %}
                                <li><a class="dropdown-item" href="#" style = "pointer-events: none; cursor: default;">No notebooks found!</a></li>
                            {% else %}
                                {% for note in notebooks %}
                                    <li>
                                        <form action = "/open-notebook" method = "POST">
                                            <input type = "hidden" name = "notebook-id" value = "{{ note['NotebookID'] }}">
                                            <button type = "submit" class="dropdown-item">{{ note["NotebookTitle"] }}</button>    
                                        </form>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class = "p-2">
        <div id = "note-title" class = "notebook-title d-inline-block p-2" contenteditable = "false">{{ notebook_title }}</div>
        <div id = "note-name" style = "display: none;">{{ notebook_name }}</div>
        <div class = "d-inline">
            <button id = "edit-button" class = "title-button align-top"><i class="fa-solid fa-pen"></i></button>
            <button id = "confirm-button" class = "title-button align-top" style = "display: none;"><i class="fa-solid fa-circle-check"></i></button>
        </div>

        <div class = "d-inline float-end">
            <button id = "savedb-markdown-button" class = "content-button mt-2" onmouseover = "this.style.background = 'lightgray';" onmouseout = "this.style.background = 'white';" style = "display: none; width: 150px;">Upload changes</button>
            <button id = "edit-markdown-content-button" class = "content-button mt-2" onmouseover = "this.style.background = 'lightgray';" onmouseout = "this.style.background = 'white';">Edit note</button>
            <button id = "confirm-markdown-content-button" class = "content-button mt-2" onmouseover = "this.style.background = 'lightgray';" onmouseout = "this.style.background = 'white';" style = "display: none;">Save</button>
            <button id = "preview-markdown-content-button" class = "content-button mt-2" onmouseover = "this.style.background = 'lightgray';" onmouseout = "this.style.background = 'white';">Preview</button>
        </div>
    </div>

    <div class = "d-flex p-2" style = "height: 77vh;">
        <textarea id = "left-div" class = "d-inline h-100 resizable-div" style = "width: 50%;" readonly>{{ notebook_content }}</textarea>
        <div id = "right-div" class = "d-inline h-100 resizable-div" style = "visibility: hidden;"></div>
    </div>

    <footer class = "d-flex fixed-bottom justify-content-between align-items-center">
        <div class = "d-flex">
            <a href="#" class="footer-item px-2">Services</a>
            <a href="https://github.com/adriano22jr" class="footer-item px-2">Github</a>
        </div>
        <a class = "footer-item px-2">© 2024 Notepad-AI, adriano22_</a>
    </footer>
{% endblock %}
{% block script %}
        <script>
            //save notebook contents into db
            $(document).ready(function(){
                $("#savedb-markdown-button").click(function(){
                    let notebook_title = $("#note-title").text();
                    let notebook_name = $("#note-name").text();
                    let notebook_content = $("#left-div").val();
    
                    $.ajax({
                        type: "POST",
                        url: "/save-notebook",
                        data: {"notebook_content": notebook_content, "notebook_title": notebook_title, "notebook_name": notebook_name, "notebook_type": "markdown"},
                        statusCode: {
                            200: function(){
                                alert("Upload ok!");
                                $("#savedb-markdown-button").css({"display": "none"});
                            }
                        }
                    });
                });
            });

            $(document).ready(function(){
                $("#preview-markdown-content-button").click(function(){
                    $("#right-div").css({"visibility": "hidden"});
                    let notebook_content = $("#left-div").val();

                    $.ajax({
                        type: "POST",
                        url: "/render-markdown",
                        data: {"notebook_content": notebook_content},
                        statusCode: {
                            200: function(data){
                                $("#right-div").html(data["content"]);
                                $("#right-div").css({"visibility": "visible"});
                            }
                        }
                    })
                });
            });
        </script>
{% endblock %}