{% extends "base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Notepad-AI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Other Notebooks
                        </a>
                        <ul class = "dropdown-menu overflow-auto" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class = "p-2">
        <div id = "note-title" class = "notebook-title d-inline-block p-2" contenteditable = "false">{{ notebook_name }}</div>
        <div class = "d-inline">
            <button id = "edit-button" class = "title-button align-top"><i class="fa-solid fa-pen"></i></button>
            <button id = "confirm-button" class = "title-button align-top" style = "display: none;"><i class="fa-solid fa-circle-check"></i></button>
        </div>
        <div class = "d-inline float-end">
            <button id = "savedb-button" class = "content-button mt-2" onmouseover = "this.style.background = 'lightgray';" onmouseout = "this.style.background = 'white';" style = "display: none; width: 150px;">Upload changes</button>
            <button id = "edit-content-button" class = "content-button mt-2" onmouseover = "this.style.background = 'lightgray';" onmouseout = "this.style.background = 'white';">Edit note</button>
            <button id = "confirm-content-button" class = "content-button mt-2" onmouseover = "this.style.background = 'lightgray';" onmouseout = "this.style.background = 'white';" style = "display: none;">Save</button>
        </div>
        <div id = "note-content" class = "notebook-content overflow-auto p-2" contenteditable = "false">{{ notebook_content }}</div>

        <div class = "d-flex justify-content-center">
            <div id = "toolbar" class = "w-50 text-center mt-1" style = "display: none;">
                <div class = "d-inline dropup">
                    <button class="dropdown-toggle toolbar-icon" href="#" id="fontSizeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                    </button>
                    <ul class = "dropdown-menu overflow-auto" aria-labelledby="fontSizeDropdown">
                        <li><button class="dropdown-item" value = "16px" onclick="changeFontSize(this)">Default</button></li>
                        <li><button class="dropdown-item" value = "10px" onclick="changeFontSize(this)">10px</button></li>
                        <li><button class="dropdown-item" value = "12px" onclick="changeFontSize(this)">12px</button></li>
                        <li><button class="dropdown-item" value = "24px" onclick="changeFontSize(this)">14px</button></li>
                    </ul>
                </div>
                
                <div class = "d-inline dropup">
                    <button class="dropdown-toggle toolbar-icon" href="#" id="highlightDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-highlighter"></i>
                    </button>                    
                    <ul class = "dropdown-menu overflow-auto" aria-labelledby="highlightDropdown">
                        <li><button class="dropdown-item" value = "none" onclick="changeBackgroundColor(this)">Remove highlight</button></li>
                        <li><button class="dropdown-item" value = "red" onclick="changeBackgroundColor(this)">Red</button></li>
                        <li><button class="dropdown-item" value = "blue" onclick="changeBackgroundColor(this)">Blue</button></li>
                    </ul>
                </div>

                <button class="toolbar-icon" value = "italic" onclick = "changeFontStyle(this)"><i class="fa-solid fa-italic"></i></button>
                <button class="toolbar-icon" value = "bold" onclick = "changeFontStyle(this)"><i class="fa-solid fa-bold"></i></button>
            </div>
        </div>
    </div>

    <footer class = "d-flex fixed-bottom justify-content-between align-items-center">
        <div class = "d-flex">
            <a href="#" class="footer-item px-2">Services</a>
            <a href="https://github.com/adriano22jr" class="footer-item px-2">Github</a>
        </div>
        <a class = "footer-item px-2">© 2024 Notepad-AI, adriano22_</a>
    </footer>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $("#savedb-button").click(function(){
                let notebook_title = $("#note-title").text();
                let notebook_content = $("#note-content").text();

                $.ajax({
                    type: "POST",
                    url: "/save-notebook",
                    data: {"notebook_content": notebook_content, "notebook_title": notebook_title, "notebook_type": "regular"},
                    statusCode: {
                        200: function(){
                            alert("Upload ok!");
                            $("#savedb-button").css({"display": "none"});
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}