{% extends "base.html" %}
{% block content%}
    <div id = "services-container" class="d-flex align-items-center">      
        <div id = "main-card" class = "mx-auto overflow-scroll">
            <h1 id = "services-h1">Notepad-AI features & services</h1>
            <div class = "card feature-card mx-auto mb-4 mt-2">
                <div class = "card-body">
                    <h5 class="card-title">Cloud Notes</h5>
                    <p class = "card-text">You can create, manage and access your notebooks from everywhere! <br> Experiment using markdown and HTML tags for creating your works, or just go with classic text writing.</p>
                    <p class = "card-text"><small class="text-muted">Go to homepage to create new notebooks!</small></p>
                </div>
            </div>
            <div class = "card feature-card mx-auto mb-4">
                <div class="card-body">
                    <h5 class = "card-title">AI Additions</h5>
                    <p class = "card-text">Use text-summarization and text-translation built-in features to get your works more and more accurate and easy to make!<br>If you need additional help ask to someone, or something... who knows.</p>
                    <p class = "card-text"><small class="text-muted">Open any notebook to use this features!</small></p>
                </div>               
            </div>
            <div class = "card feature-card mx-auto mb-4">
                <div class="card-body">
                    <h5 class = "card-title">Export documents</h5>
                    <p class = "card-text">Feel free to export your works and convert them in a suitable format to read everywhere!</p>
                    <p class = "card-text"><small class="text-muted">Open an existing notebook to export it!</small></p>
                </div>               
            </div>
        </div>
    </div>
    
    <footer class = "d-flex fixed-bottom justify-content-between align-items-center">
        <div class = "d-flex">
            <a href="{{ url_for('index') }}" class="footer-item px-2">Homepage</a>
            <a href="https://github.com/adriano22jr" class="footer-item px-2">Github</a>
        </div>
        <a class = "footer-item px-2">© 2024 Notepad-AI, adriano22_</a>
    </footer>
{% endblock %}